task2_png_to_text/results1_test/
task2_png_to_text/index.html
task2_png_to_text/__pycache__/
task5_AlexNet_VGG/VGG/vgg16_weights.npz
*/__pycache__
task5_AlexNet_VGG/AlexNet/bvlc_alexnet.npy
.idea/
.vscode/